<!DOCTYPE html>
<!--We will autobootstrap our application-->
<html lang="en" ng-app="minmax" >
<head>
    <title>Form Submission</title>
    <!--Load the css bootstrap, main.cc-->
    <link href="../libs/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet">
    <link href="main.css" rel="stylesheet">
</head>
<body>
<!--We will design our navigation bar.-->
<nav class="navbar navbar-inverse navbar-fixed-top">
    <div class="container">
        <div class="navbar-header">
            <a class="navbar-brand" href="/">Form Submitting</a>
        </div>
    </div>
</nav>

<!--Aligning our main content in the class main-content along with container class-->
<div class="container main-content" ng-controller="MinMaxCtrl">
    <!--Creating our form with class form-group-->
    <form ng-submit="onSubmit()">
        <div class="form-group">
            <label for="name">Name</label>
            <input type="text"
                    class="form-control"
                    ng-model="formModel.name"
                    id="name">
        </div>
        <div class="form-group">
            <label for="email">Email</label>
            <input type="email"
                    class="form-control"
                    ng-model="formModel.name"
                    id="email">
        </div>
        <div class="form-group">
            <label for="username">Username</label>
            <input type="text"
                    class="form-control"
                    ng-model="formModel.username"
                    id="username">
        </div>
        <!--age-->
        <div class="form-group">
            <label for="age">Age</label>
            <input type="number"
                    class="form-control"
                    ng-model="formModel.age"
                    id="age">
        </div>
        <!--sex-->
        <div class="form-group">
            <label for="sex">Sex</label>
            <select name="sex"
                    id="sex"
                    class="form-control"
                    ng-model="formModel.sex">
                <option value="">Please Choose</option>
                <option value="male">Male</option>
                <option value="female">Female</option>
            </select>
        </div>
        <!--password-->
        <div class="form-group">
            <label for="password">password</label>
            <input type="password"
                    class="form-control"
                    ng-model="formModel.password"
                    id="password">
        </div>
        <!--Register button-->
        <div class="form-group">
            <button class="btn btn-primary" ng-click="onSubmit()">Register</button>
        </div>
    </form>
</div>
</body>
</html>